<div id="app">
  <ul>
    <li v-on:click="toggleCompleted(task)" id="task" v-on:click="removeTask()" v-for="task in tasks" >
      <div v-bind:class="{strike: task.completed}">
        <h2>Task: {{ task.name }}</h2>
        <h4>Priority: {{ task.priority }}</h4>
      </div>
    </li>
  </ul>
  <h1>{{ countIncompleted(tasks) }}</h1>
  <button v-on:click="removeTasks(tasks)">Clear Completed</button>
  <h4>Add a Task</h4>
  <input v-model="newTask">
  <input v-model="newPriority">
  <button v-on:click="addTask()">Add Task</button>
</div>
